/*
This controls the body of the page
You can use this to set the background color, margins, etc. as shown below
*/

html {
  background: rgb(34, 34, 34);
}

.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 600px;
}

  body {
  margin: 10px;
  padding: 15px;
  }

  /* This is used to make profile picture cropped as a circle */
  .image img {
    border-radius: 25%;
    width: 400px;
  }


  .FrontPageTitle {
    font-family: monospace;
    padding-bottom: 50px;
    width: 100%;
    box-sizing: content-box;
    position: relative;
  }
  .FrontPageTitle h1 {
    color: #ffffff;
    font-size: 80px;
    margin: 0;
    border-bottom: 2px solid rgb(75, 75, 75);
  }

  
  /* Formatting for paragraph text */
  p {
    font-family: monospace;
    color: #fff;
    font-size: 32px;
  }
  
  /* "a" refers to links, everything below controls the color and behavior of link objects */
  a {
    -webkit-transition: border-color 200ms ease, color 200ms ease;
    transition: border-color 200ms ease, color 200ms ease;
    color: #fff;
    text-decoration: none;
  }
  a:hover {
      border-bottom-color: #ffffff;
      color: gold;
  }
    
   a:focus {
   border-bottom-color: #ffffff;
   color: gold;
  }
  .center-link {
    display: block;
    text-align: center;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%; /* Change to 100% to center the content */
    margin: 0 auto; /* Center the container */
  }
  /* Anything marked as class="content" will have options below attached */
  .content {
    /*flex-grow: 4;*/
    margin-right: 25px;
    margin-left: 25px;
  }
  /* below is special formatting for a custom object, here a social-icon class */
  .social-icon {
  
  padding-right: 25px;
  float: right;
  border-bottom: 0px none #000;
  }

  /* Initially hide elements */
.reveal-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s, transform 0.8s;
}

/* Make elements visible when they have the "visible" class */
.reveal-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
  
   .continuation p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
  }
  .projectCards {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 13%;
  }

    .projects-list {
      width: 100%; /* Set the width of the project list */
      margin-bottom: 40px;
    }

  .project-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 247, 255, 0.466);
    transition: transform 0.3s ease-in-out;
    height: 600px; /* Set your desired fixed height */
    width: 60%; /* Set your desired fixed width */
    background:
    linear-gradient(
      36deg,
      hsl(0, 0%, 81%) 0%,
      hsl(295.2, 0.38%, 78.16%) 9.4%,
      hsl(295.2, 0.68%, 75.45%) 17.7%,
      hsl(295.21, 0.92%, 72.83%) 25%,
      hsl(295.21, 1.12%, 70.26%) 31.5%,
      hsl(295.22, 1.31%, 67.69%) 37.5%,
      hsl(295.23, 1.48%, 65.07%) 43%,
      hsl(295.24, 1.65%, 62.33%) 48.2%,
      hsl(295.25, 1.82%, 59.39%) 53.3%,
      hsl(295.26, 2%, 56.16%) 58.5%,
      hsl(295.28, 2.2%, 52.52%) 63.9%,
      hsl(295.31, 2.62%, 48.29%) 69.6%,
      hsl(295.35, 3.63%, 43.22%) 76%,
      hsl(295.43, 5.53%, 36.86%) 83%,
      hsl(295.62, 10.47%, 28.19%) 91%,
      hsl(297.45, 92.16%, 10%) 100%
    );
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .project-info {
    padding: 16px;
  }
  
  .project-info h2 {
    margin-bottom: 8px;
    color: #333;
  }
  
  .project-info p {
    color: #000000;
  }

  .project-image {
    flex: 0 0 30%; /* Occupy 30% of the container width */
  }
  
  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  


  @media (max-width: 768px) {
    .menu-link {
      width: 100%; /* Set full width for smaller screens */
      margin: 1rem 0; /* Adjust margin for smaller screens */
    }
  }
  